:root {
  --gradient1: #FFBF44;
  --gradient2: #f8aa1b;
  --fontcolor: #1A1A1A;
}
.landing-page {
  mask: radial-gradient(circle, black 0vmax, transparent 0vmax);
  -webkit-mask: radial-gradient(circle, black 0vmax, transparent 0vmax);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  -webkit-mask-border: 1px solid black;
  mask-border: 1px solid black;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  position: relative;
  pointer-events: none;
  background-color: #f9f9f9;
}
.top-half {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: end;
}
.text-container {
  width: 95%;
}
.text-container2 {
  width: 70%;
}
.top-half h1 {
  line-height: 1.3;
  text-align: center;
  color: var(--fontcolor);
  font-family: "Poppins", sans-serif;
  font-size: 80px;
  font-weight: 500;
  position: relative;
  user-select: none;
}
.border {
  overflow: hidden;
}
.bottom-half {
  height: 40vh;
  display: flex;
  justify-content: center;
}
.bottom-half h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #1a1a1a;
  font-weight: 300;
  font-size: 24px;
  margin-top: 2vh;
  position: relative;
  user-select: none;
}
.left {
  background: linear-gradient(to right, var(--gradient2), var(--gradient1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Add for broader support */
  /* text-fill-color: transparent; */
  position: relative;
  background-size: 200% 100%; /* Make the gradient twice as wide as the text */
  animation: shiftBackground2 2.5s linear infinite;
}
.right {
  background: linear-gradient(to right, var(--gradient1), var(--gradient2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  position: relative;
  background-size: 200% 100%; /* Make the gradient twice as wide as the text */
  animation: shiftBackground 2.5s linear infinite;
}
.scroll-notice, .scroll-hidden {
  cursor: pointer;
  color: var(--fontcolor);
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300; 
}
.scroll-text-mask {
  overflow: hidden;
  position: relative;
}
.scroll-hidden {
  position: absolute;
}
.scroll-hidden span, .scroll-notice span {
  display: inline-block;
}
.scroll-notice-absolutely-positioned {
  position: absolute;
  width: 100%;
  bottom: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes shiftBackground {
  0% {
      background-position: 100% 0%;
  }
  50% {
      background-position: 0% 0%;
  }
  100% {
  background-position: 100% 0%;
  }
}

@keyframes shiftBackground2 {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@media screen and (max-width: 1430px) {
  .top-half h1 {
      font-size: calc(112.5% + 5vw);
  }
  .bottom-half h2 {
      font-size: calc(112.5% + 0.8vw);
  }
}
@media screen and (max-width: 720px) {
  .link-container {
      display: none !important;
  }
  .hamburger {
      display: flex !important;
      flex-direction: column-reverse;
      justify-content: space-between;
  }
}
@media screen and (max-width: 512px) {
  .cursor {
      display: none;
  }
  .cursor-small {
      display: none;
  }
  .top-half h1 {
      font-weight: 400;
  }
  .bottom-half h2 {
      font-size: 18px;
      font-weight: 300;
  }
}
@media screen and (max-width: 400px) {
  .text-container {
      transform: translateY(-1px);
  }
  .bottom-half {
      transform: translateY(-1px);
  }
  .top-half h1 {
      font-size: 38px;
  }
  .bottom-half h2 {
      font-size: 16px;
  }
}

@media (min-width: 2000px) {
  .top-half h1 {
    font-size: 120px;
  }
  .bottom-half h2 {
    font-size: 32px;
  }
  .scroll-notice {
    font-size: 22px;
  }
}