.pinned-text-body {
  height: 200vh;
  height: calc(var(--vh, 1vh) * 200);
  width: 100%;
  position: relative;
  background-color: #f9f9f9;
}
.pinned-text-container {
  position: absolute;
  top: -50vh;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  width: 90%;
  margin-left: 5%;
}
.pinned-text-body h1 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 300;
  color: black;
}
.gold-highlights {
  color: #FFBF44;
}
.pinned-text-body h1 span {
  display: inline-block;
}
.letter:nth-child(1) {
  /* transform: rotateX(80deg) translateY(-100px); */
  transform-origin: bottom center;
}
.letter {
  transform-origin: bottom center;
}
@media (max-width: 1300px) {
  .letter {
    font-size: 50px;
  }
}
@media (max-width: 1250px) {
  .letter {
    font-size: 45px;
  }
}
@media (max-width: 1050px) {
  .letter {
    font-size: 40px;
  }
}
@media (max-width: 950px) {
  .letter {
    font-size: 35px;
    line-height: 1;
  }
  .pinned-text {
    line-height: 1.2;
  }
}
@media (max-width: 850px) {
  .letter {
    font-size: 30px;
  }
}
@media (max-width: 750px) {
  .letter {
    font-size: 25px;
  }
  .pinned-text {
    line-height: 1;
  }
}
@media (max-width: 550px) {
  .letter {
    font-size: 18px;
  }
}

@media (min-width: 2000px) {
  .letter {
    font-size: 100px;
  }
}