@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@500');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500');
/* ================================
   Reset and Normalize Styles
================================ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --vh: 1vh; /* Fallback value */
}

html {
  font-size: 16px; /* Default base font size */
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #f9f9f9;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Remove list styling */
ul,
ol {
  list-style: none;
}

/* ================================
   Responsive Media Queries
================================ */
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
.pin-spacer {
  pointer-events: none;
}
/* .gsap-marker-scroll, .gsap-marker-end, .gsap-marker-start, .gsap-marker-scroller-end, .gsap-marker-scroller-start {
  opacity: 0 !important;
} */