.gallary-container {
  height: 200vh;
  width: 100%;
  position: relative;
}
.project-container {
  height: 100vh;
  width: 100%;
  background-color: antiquewhite;
}
.project-description {
  height: 120px;
  width: 120px;
  border-radius: 20px;
  border: 1px solid rgb(88, 88, 88);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: 20;
  background-color: #181818;
  cursor: pointer;
  z-index: 100;
  overflow: hidden;
}
.cover {
  height: 95%;
  width: 95%;
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  background-color: #181818;
  z-index: 10;
  border-radius: 18px;
}
.project-description h1 {
  color: white;
  transform: rotate(-45deg);
  font-weight: 400;
  text-align: center;
  z-index: 11;
}
.project-description  span {
  position: absolute;
  background-color: white;
  height: 10px;
  width: 0;
  border-radius: 20px;
}

.project-description .top {
 top: 0;
 left: 0;
 transform-origin: left center;
 margin: 0 5%;
}

/* Right span */
.project-description .right {
 top: 0;
 right: 0;
 height: 0;
 width: 10px;
 transform-origin: center top;
 margin: 5% 0;
}

.project-description .bottom {
 margin: 0 5%;
 bottom: 0;
 right: 0;
 transform-origin: right center;
}

.project-description .left {
 bottom: 0;
 left: 0;
 height: 0;
 margin: 5% 0;
 width: 10px;
 transform-origin: center bottom;
}